* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100vw;
    background-color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

canvas {
    display: block;
}


.art {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.card {
    background-color: white;
    padding: 5px;
    border: 5px solid black;
}